h1{
    text-align: center;
    font-size: 40px;
    color: rgb(0, 0, 0);

}

p{
    text-align: center;
    font: size 40px;
    color: rgb(220, 220,220)
    ;
}
body{
    background-color: rgb(225, 238, 236);
    font-family: verdana, ;
}
.teste{
    color: rgb(199, 21, 133);
    color: rgb(238, 130, 238);
}

<
